@model PSSCMS.Models.Cms.PageOwnerInfo

<!-- Modal -->
<div class="modal fade" id="g-dch-addrModal" tabindex="-1" aria-labelledby="g-dch-addrModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="g-dch-addrModalLabel">Modal title</h5>
            </div>
            <div class="modal-body">
                <form id="g-dch-addr">
                    <p>New address</p>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @id = "volVal" })
                    <br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="CloseModal()">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveFstNameChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CloseModal() {
        $('#g-dch-addrModal').modal('hide');
    }

    function SaveFstNameChanges() {
        var someData = { nVal: "" + $('#volVal').val() + ""}

        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/CmsHome/ChangeAddress_PostModal")',
            data: someData,
            success: function (jsRes) {
                $('.modal-backdrop').remove();
                $("#modalsHere").html(jsRes);
                $("#g-dch-addrModal").modal('hide');
            }
        }).fail(
            function(jsResF) {
                console.log("Bład!");
            });
    }
</script>

@if (ViewBag.Status == "PASSED")
{
    <script type="text/javascript">
        $("#g-dch-addrModal").modal('hide');
        ReloadThePage();
    </script>
}